{% include "ntntop.html" %}
<div id="navbar" class="navbar">
    <a class="home" href="/notes">NTN Notes</a>
    <a {% if active == 'latest' %} class="active" {% endif %} id="latest" href="/notes/latest">Latest</a>
    <a {% if active == 'automation' %} class="active" {% endif %} id="automation" href="/notes/automation">Automation</a>
    <a {% if active == 'cheatsheets' %} class="active" {% endif %} id="cheatsheets" href="/notes/cheatsheets">Cheatsheets</a>
    <a {% if active == 'programming' %} class="active" {% endif %} id="programming" href="/notes/programming">Programming</a>
    <a {% if active == 'routeswitch' %} class="active" {% endif %} id="routeswitch" href="/notes/routeswitch">Route/Switch</a>
    <a {% if active == 'security' %} class="active" {% endif %} id="security" href="/notes/security">Security</a>
    <a {% if active == 'wireless' %} class="active" {% endif %} id="wireless" href="/notes/wireless">Wireless</a>
    <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href = '/tools';">Tools
            <i class="fa fa-caret-down"></i></a>
        </button>
        <div class="dropdown-content">
            <a href="/tools/curl">cURL</a>
            <a href="/tools/dns">DNS</a>
            <a href="/tools/ping">Ping</a>
            <a href="/tools/subnet">Subnet Calculator</a>
            <a href="/tools/traceroute">Traceroute</a>
            <a href="/tools/oui">OUI Lookup</a>            
        </div>
    </div>
    <a href="#" id="nav_icon">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>