<div id="navbar" class="navbar">
    <a class="home" href="/notes">NTN Notes</a>
    <a {% if active == 'latest' %} class="active" {% endif %} id="latest" href="/notes/latest">Latest</a>
    <a {% if active == 'automation' %} class="active" {% endif %} id="automation" href="/notes/automation">Automation</a>
    <a {% if active == 'routeswitch' %} class="active" {% endif %} id="routeswitch" href="/notes/routeswitch">Routing/Switching</a>
    <a {% if active == 'sdn' %} class="active" {% endif %} id="sdn" href="/notes/sdn">SDN</a>
    <a {% if active == 'web' %} class="active" {% endif %} id="web" href="/notes/web">Web</a>
    <a {% if active == 'programming' %} class="active" {% endif %} id="programming" href="/notes/programming">Programming</a>
    <a {% if active == 'unfiled' %} class="active" {% endif %} id="unfiled" href="/notes/unfiled">Unfiled</a>
    <a {% if active == 'tools' %} class="active" {% endif %} id="tools" href="/">Tools</a>
    <a href="#" id="nav_icon">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>