* {
    font-family: monospace;
    font-size: 1em;
}

body {
    text-align: center;
    max-height: 100%;
}

table {
    border-spacing: 10px 2px;
}

.hidethis {
  visibility: hidden;
  width: 1px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1em;
    outline: 0;
}

.navbar a:hover:not(:last-child):not(:first-child) {
    background-color: #ddd;
    color: black;
}

.navbar a.home {
    background-color: red;
    color: white;
}

.navbar a.active {
    background-color: grey;
    color: white;
}

pre {
    background-color: #333;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    overflow: scroll;
    display: inline-block;
    width: 80%;
    height: 70vh;
    line-height: 100%;
    text-align: left;
    border-color: grey;
    border-style: solid;
    border-top-width: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
  }

.footer a {
    color: grey;
}

#bottom_buttons table {
    margin-right: auto;
    margin-left: auto;
}

#nav_icon {
    display: none;
}

#app.subnet input[name='subnet_mask'] {
  width: 10em;
}

#app input[type='text'] {
  width: 20em;
}

.oui input[type='text'] {
  width: 10em;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: grey;
    border-bottom-color: grey;
    animation: spinner 1s ease infinite;
  }

  @media screen and (max-width: 800px) {

    * {
      font-family: monospace;
      font-size: 16px;
    }
    pre {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      padding-right: 0px;
      padding-left: 0px;
      height: 50vh;
    }
    .navbar a:not(:first-child) {
      display: none;
    }
    .navbar a#nav_icon {
      float: right;
      display: block;
      height: 0;
    }
    .navbar.responsive {
     position: relative;
    }
    .navbar.responsive a#nav_icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    span.wrapper {
      min-width: 400px;
      display: inline-block;
    }
    
  }