<form id="app" class="dns" method="POST">
    <input type = "text" name = "dns_lookup" value = {{ dns_lookup or "neverthenetwork.com" }}>
    <select name = "record_type">
        {% for record_type in dns_record_types %}
        <option value = {{ record_type }}>{{ record_type }}</option>
        {% endfor %}
    </select>
    <select name = "user_resolver">
        <option value = "All" >All</option>
        {% for dns_resolver in dns_resolver_list %}
        <option value = {{ dns_resolver["name"] }}>{{ dns_resolver["name"] }}</option>
        {% endfor %}
    </select>
    <input type="submit" id="submit_app" value="Submit" formaction="dns">
</form>