<div class="footer">
    <p>To receive periodic updates about this site, join the <a href="https://mailchi.mp/a97c75c48f8f/ntn" target="_blank">mailing list</a>. Feature requests and questions can be sent to me <a href="mailto:brandon@brandonsjames.com">directly</a>.</p>
    <p>If this page has been useful, consider making a <a href="https://www.buymeacoffee.com/gTmjV6SfU" target="_blank">small donation</a> to help keep the lights on.</p>
    <br><P>Copyright © {{ now.year }} Brandon James. All rights reserved.</P>
</div>