<!DOCTYPE html>
<head>
    <title>NTN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ntn.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6be7bf8229e7c71c33fa5f465/621303c5cb9820f7968d8ebcf.js");</script>
</head>